
.home-header {
	text-align: center;
}

*{
  box-sizing: border-box;
}

body {
  padding-top: 50px;
  background-color: #f0f0f0;}

.btn-bar{
	position: relative;
	text-align: right;
	margin-bottom: 0px;
  font-weight: bold;
}

.btn-sort{
  /*padding: 0px;*/
}

.list-row{
	background-color:#ffffff ;
  	margin: 0 0 15px 0;
}

.list-row:hover{
  background-color: #cfcfcf;
}

.list-col{
	padding: 0;
}

.list-img-box-out{
	width: 100%;
  	position: relative;
  	padding-bottom: 66.67%;
}

.in{
	position: absolute;
	top: 0;
  	bottom: 0;
  	left: 0;
 	right: 0;
}

.list-img{
	width:100%;
	height:auto;
}

.list-info-outer-box{
	width: 100%;
	position: relative;
	padding-bottom: 47.62%;
}

.list-info{
	padding: 10px;
	float: left;
}

.info-title{
  margin: 0 0 5px;
  padding: 5px 0;
  border-bottom: 1px solid #c0c0c0;
  cursor: pointer;
}

.detail{
  color:grey;
  font-size:12px;
  margin-bottom: 0px;
}

.price-tag{
  position: absolute;
  right: 0;
  bottom: 0;
  color: orange;
  cursor: pointer;
  line-height: 1.0;
  padding: 15px;
}

.price-tag:active, .price-tag:hover{
  color: green;
  text-decoration: none;
}

.price-value{
  font-size:35px;
  padding: 3px;
}
.price-prefix{
  font-size: 12px;
  font-weight: lighter;
}
.price-unit{
  font-size: 14px;
  text-align: right;
  font-weight: lighter;
}
.pagi-ctrl{
	text-align: right;
  :0;
}

.btn-back{
  margin-left: 150px;
}

.arrow{
  color: orange;
}

